[Desktop Entry]
Type=Application
Version=1.0
Name=Acme
Comment=Editor
Icon=/usr/local/plan9/mac/spaceglenda.png
;Path=/usr/local/plan9/bin
Exec=acmeedit.bash
Terminal=false
Categories=TextEditor
